<body style="background-color:#E69B31;">
<h1 style="color:blue;">User Profile</h1>
<table border= "1" style="width:70%">
  <tr>
    <th>Address</th>
    <th>Gender</th>
    <th>Status</th>
      <th>DOB</th>   
  </tr>
   <tr>
      <td><%= profile.address %></td>
      <td><%= profile.gender %></td>
      <td><%= profile.status %></td>
      <td><%= profile.dob %></td>
  </tr>
</table>
<%= link_to "Add More Details", new_profile_path,class: "btn btn-primary btn-xs"%>