
<body style="background-color:#E69B31;">
<div style="float: right; clear: left;"><%= image_tag(current_user.avatar.url,:size => "260x180",:class=>"img-circle")%></div>
<div class="container">
  <div class="panel panel-primary">
  <div class="panel-heading" style="color:blue;" align="center",size = "">User Profile</div>
  </div>
  <div class="container">
  <div class="panel panel-primary">
<h3 style="color:red;">Welcome <%= current_user.first_name %></h3>
</div>
<%= link_to "Edit User Profile",edit_user_registration_path,class: "btn btn-success btn-ms pull-left" %>
<%= link_to "Home Page", root_path,class: "btn btn-danger btn-ms pull-left" %>
<div class="CSSTableGenerator" >
<table>
  <tr>
    <th>FirstName</th>
     <th>LastName</th>
      <th>Email</th>   
  </tr>
   <tr>
      <td><%= current_user.first_name %></td>
      <td><%= current_user.last_name %></td>
      <td><%=current_user.email %></td>
    </tr>
</table>
</div>
<%= link_to "Add More Details", new_user_profile_path(:user_id => current_user.id),class: "btn btn-primary btn-ms"%>
<% if current_user.profile.blank? %>
<% flash[:notice] = " Add more details to Profile" %>
<% else %>
<%= link_to "View Details", user_profile_path(:id => current_user.id),class: "btn btn-primary btn-ms"%>
<% flash[:notice] = " View added details" %>
<% end %>



