<h1>Followed User</h1>
<%= link_to "unfollow", relationships_path, :method => :destroy,class: "btn btn-primary btn-xs" %>

<table border= "1" style="width:50%">
  <tr>
     <th>FirstName</th>
     <th>LastName</th>
 </tr>
 <% @users.each do |hel| %>
  <tr>
  <td><%= hel.first_name %></td>
  <td><%= hel.last_name %></td>
  </tr>
<%end%>
  <tr>
     <th>ID</th>
     <th>Title</th>
 </tr>
 <% @posts.each do |val| %>
  <tr>
  <td><%= val.id%></td>
  <td><%= val.title %></td>
  </tr>
<%end%>
</table>

<%= link_to 'Back',  users_myuser_path,class: "btn btn-primary btn-xs" %>