<h1>Liked Users</h1>
<%= link_to 'Home Page',  root_path,class: "btn btn-primary btn-xs" %>
<table border= "1" style="width:50%">
  <tr>
      <th>ID</th>
     <th>FirstName</th>
     <th>LastName</th>
  </tr>

 <% @likes.each do |hel| %>
  <tr>
  <td><%= hel.post_id %></td>
  <td><%= User.find(hel.user_id).first_name %></td>
  <td><%= User.find(hel.user_id).last_name %></td>
  <%end%>
</table>

<%= link_to 'Back',  posts_path,class: "btn btn-primary btn-xs" %>