<%= link_to "Home Page", root_path,class: "btn btn-primary btn-ms pull-right" %>
<h1>Liked Users</h1>
<div class="CSSTableGenerator" >
  <table>
    <tr>
        <th>ID</th>
       <th>FirstName</th>
       <th>LastName</th>
    </tr>

   <% @likes.each do |hel| %>
    <tr>
    <td><%= hel.post_id %></td>
    <td><%= User.find(hel.user_id).first_name %></td>
    <td><%= User.find(hel.user_id).last_name %></td>
    </tr>
    <%end%>
  </table>
</div>  

<%= link_to 'Back',  root_path,class: "btn btn-primary btn-xs" %>