 <h4>Friend Requests</h4>
  <table border= "1" style="width:50%">
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Accept</th>
        <th>Reject</th>
    </tr>
  <% @users.each do |request| %>
    <tr>
        <td><%= request.first_name %></td> 
        <td><%= request.last_name %></td> 
        <td><%= link_to "Accept", friendship_path(:id => request), :method => "put" %></td>
        <td><%= link_to "Decline", friendship_path(:id => request), :method => :delete %></td>
    </tr>
  <% end %>  
</table>   
<%= link_to 'Back',  users_myuser_path,class: "btn btn-primary btn-xs" %>
