<h4>Friend Requests</h4>
  <table border= "1" style="width:50%">
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Accept</th>
        <th>Reject</th>
    </tr>
  <% @friend.each do |wel| %>
    <tr>
        <td><%= wel.user.first_name %></td> 
        <td><%= wel.user.last_name %></td> 
        <td><%= link_to "Accept", friendship_path(:id => wel), :method => "put" %></td>
        <td><%= link_to "Decline", friendship_path(:id => wel), method: :delete,
               data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>  
</table>   
<%= link_to 'Back',  users_myuser_path,class: "btn btn-primary btn-xs" %>
