  <%= link_to "Home Page", root_path,class: "btn btn-primary btn-ms pull-right" %>
  <h1>Listing Posts</h1>
  <div class="CSSTableGenerator" >
    <table >
      <tr>
        <th>Title</th>
        <th>Comment</th>
        <th>Edit</th> 
        <th>Delete</th>

      </tr>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= link_to 'Comment', post_path(post) %></td>
          <td><%= link_to 'Edit', edit_post_path(post)%></td>
          <td><%= link_to 'Delete', post_path(post),method: :delete,
                 data: { confirm: 'Are you sure?' } %></td>
       </tr>
      <% end %>
    </table>
  </div>
   <%= link_to "Back", root_url,class: "btn btn-primary btn-xs"%>

      

   
