<!DOCTYPE html>
<html>
<head>
  <title>Affibook</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' =>true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
     <%#= javascript_include_tag 'application', 'bootstrap.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
    <li>
    <%= link_to "Logout",destroy_user_session_path, :method => :delete, class: "btn btn-primary btn-sm pull-right"%>
    </li>
  <% else %>
  <li>
    <%= link_to('Login', new_user_session_path)  %>  
  </li>
  <% end %>
  <%= javascript_include_tag "application" %>
  <%- flash.each do |name, msg| -%>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <%- end -%>
  <%= yield %>
</body>
</html>
